
/* deze instellingen zijn de standaard instellingen die telkens terugkomen*/
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* - De font-family zorgt voor welk lettertype ik heb gebruikt 
   - background-image zorgt ervoor dat ik een foto op de achtergrond heb.
   - Bij background-size heb ik ingesteld dat de foto alles moet bedekken, dus full-screen.
   Bij de overige instellingen zorg ik dat de afbeelding 1 keer is afgebeeld, geen herhaling heeft en dat hij niet verspringt.
   */
body {
  font-family:'Lexend Deca', sans-serif;
  background-image: url(Achtergrond\ info.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;

  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  }

/* Hieronder geef ik mijn logo een kleur en kies ik de grootte en dikte van de letters*/
.logo {
  color: white;
  font-size: 30px;
  font: weight 600px;
  padding-left: 30px ;

}

/* dit stuk is volgens mij niet per sé nodig
/*Ik voeg hier een tweede kleur toe aan het logo*/
.logo span {
  color: rgb(105, 159, 116));
}

/*Hieronder staan de instellingen voor het dropdown menu, de background-color is zo ingesteld dat hij transparant is.
Daarnaast heb ik ingesteld hoe groot de 'blokken' moeten worden en hij de tekst gaat worden uitgelijnd.*/
.Dropdown {
  background-color: rgba(0, 0, 0, 0.8);
  
  /*dit is de dikte van de dropdown*/
  height: 80px;

  /* de breedte staat ingesteld op 100%, dat is zodat de dropdown precies goed is en niet te klein*/
  width: 100%;

  /* de elementen die onder de 'hoofd'blokken komen zijn even groot als het bovenstaande element*/
  display: flex;

  /* dit zorgt ervoor dat ze zogenoemde flexitems een spatie hebben tussen de regels*/
  justify-content: space-between;

  /* de tekst die in de blokken komt staat precies in het midden*/
  align-items: center;

  /* Naast de tekst is geen ruimte, aan de bovenkant zit een marge van 5%*/
  padding: 0,5%;

  /* de positie van de dropdown is ingesteld zodat hij de 'normale' positie aanneemt*/
  position: relative;
}

.Dropdown ul {
  list-style: none;
  display: flex;
}

.Dropdown ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.Dropdown ul li a {
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;

  
}

.Dropdown ul li a:hover {
  color: rgb(105, 159, 116);
  transition: all 0.3s;
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-laag1 {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.Dropdown ul li:hover .dropdown-laag1 {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgba(0, 0, 0,0.8);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.Dropdown ul li:hover .dropdown-laag1 ul {
  display: block;
  margin: 10px;
}

.Dropdown ul li:hover .dropdown-laag1 ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-laag2 {
  display: none;
}

.dropdown-laag1 ul li:hover .dropdown-laag2 {
  display: block;
  position: absolute;
  left: 160px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5%;
}


.footer{
  display: block;
  background-color: rgb(9, 9, 9);
  width: 100%;
  height: 50px;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;

  font-size: 14px;
  text-align: center;
  vertical-align: baseline;
}


/*opmaak tekstvak, background-color is natuurlijk de achtergrondkleur, de andere instellingen zorgen voor de grote van het tekstvak*/
.tekstvak {
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
  padding: 50px;
  margin: 50px 200px;
}