ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: seagreen;
}

li a {
    display: block;
    color: rgb(115, 147, 190);
    padding: 8px 16px;
    text-decoration: none;
}

lia a :hover {
    background-color: powderblue;
    color: oldlace;
}

li {
    float: left;
  }
  
