
/* deze instellingen zijn de standaard instellingen die telkens terugkomen*/
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* - De font-family zorgt voor welk lettertype ik heb gebruikt 
   - background-image zorgt ervoor dat ik een foto op de achtergrond heb.
   - Bij background-size heb ik ingesteld dat de foto alles moet bedekken, dus full-screen.
   Bij de overige instellingen zorg ik dat de afbeelding 1 keer is afgebeeld, geen herhaling heeft en dat hij niet verspringt.
   */
body {
  font-family:'Lexend Deca', sans-serif;
  background-image: url(Achtergrond\ info.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;

  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  }

/* Hieronder geef ik mijn logo een kleur en kies ik de grootte en dikte van de letters*/
.logo {
  color: white;
  font-size: 30px;
  font: weight 600px;
  padding-left: 10px ;

}

/* dit stuk is volgens mij niet per sé nodig
/*Ik voeg hier een tweede kleur toe aan het logo*/
.logo span {
  color: rgb(105, 159, 116);
}

/*Hieronder staan de instellingen voor het dropdown menu, de background-color is zo ingesteld dat hij transparant is.
Daarnaast heb ik ingesteld hoe groot de 'blokken' moeten worden en hij de tekst gaat worden uitgelijnd.*/
.Dropdown {
  background-color: rgba(0, 0, 0, 0.8);
  /*kleuren samenvoegen zodat de achtergrond wat licther is*/
  background-blend-mode: multiply;
  
  /*dit is de dikte van de dropdown*/
  height: 80px;

  /* de breedte staat ingesteld op 100%, dat is zodat de dropdown precies goed is en niet te klein*/
  width: 100%;

  /* de elementen die onder de 'hoofd'blokken komen zijn even groot als het bovenstaande element*/
  display: flex;

  /* dit zorgt ervoor dat ze zogenoemde flexitems een spatie hebben tussen de regels*/
  justify-content: space-between;

  /* de tekst die in de blokken komt staat precies in het midden*/
  align-items: center;

  /* Naast de tekst is(nu wel 20 pixels) geen ruimte, aan de bovenkant zit een marge van 5%*/
  padding: 30px;
  

  /* de positie van de dropdown is ingesteld zodat hij de 'normale' positie aanneemt*/
  position: relative;
}

/* Ik heb er hier voor gezorgd dat er geen ´ speciale ' elementen zijn*/
.Dropdown ul {
  list-style: none;
  display: flex;
}

/*In de dropdown zit er aan de zijkant 10px ruimte en aan de bovenkant 30px, de positie geeft natuurlijk de positie aan*/
.Dropdown ul li {
  padding: 30px 35px;
  position: relative;
}

/* de tekst is 15px groot, de kleur is wit, de tekst heeft geen decoratie en binnen 0,3 seconde is de kleur van de tekst anders als je erop staat met je muis*/

.Dropdown ul li a {
  font-size: 15px;
  color: white;
  text-decoration: none;
  transition: all 0.3s;  
}

/*Hier zorg ik dat de kleur verandert van wit naar groen, de overflow gaat automatisch*/
.Dropdown ul li a:hover {
  color: rgb(105, 159, 116);
  overflow: auto;
  flex: 0;
  background-color: rgb(226, 183, 43);
}


/* dropdown menu style, de kleur is hier doorzichtig gemaakt */
.dropdown-laag1 {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

/*Hier stel ik de instellingen in voor de volgende dropdown laag, met de procenten geef ik aan hoe de zijkanten tegen elkaar aan moeten komen om overlap te voorkomen*/

.Dropdown ul li:hover .dropdown-laag1 {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgba(0, 0, 0,0.8);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

/* Ik geef aan dat het een blok moet zijn*/
.Dropdown ul li:hover .dropdown-laag1 ul {
  display: block;
  margin: 10px;
}

/*Ik geef aan hoe groot het blok met zijn*/
.Dropdown ul li:hover .dropdown-laag1 ul li {
  /*dit was 160*/
  width: 140px;
  /* dit gaat misschien weg*/
  padding: 0px;
}

/*Al eerder commentaar bij zelfde soort code gegeven*/
.dropdown-laag2 {
  display: none;
}

.dropdown-laag1 ul li:hover .dropdown-laag2 {
  display: block;
  position: absolute;
  left: 135px;
  bottom: -35px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5%;
  /* dit is ook veranderd*/
  margin: 0px;
}

/*Al eerder commentaar bij zelfde soort code gegeven*/
.dropdown-laag3 {
  display: none;
}

.dropdown-laag1 ul li:hover .dropdown-laag3 {
  display: block;
  position: absolute;
  left: 135px;
  bottom: -215px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5%;
  margin: 25px;

}


/*De instellingen voor de footer, de achtergrondkleur, de hoogte en breedte, de kleur van de tekst, de positie, tekst in het midden*/
.footer{
  display: flex;
  background-color: rgb(9, 9, 9);
  width: 100%;
  height: 50px;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px white;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}


/* Social media knoppen basis stijl, grote van de knoppen, moet in het midden */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}

/* Social media hover effect, text groen maken en tijd van hover effect veranderen */
.fa:hover {
  color: rgb(105, 159, 116);
}

/* Stijl instagram knop */
.fa-instagram {
  background: rgba(0, 0, 0, 0);
  color: white;
}

/* Stijl google knop */
.fa-google {
  background: rgba(0, 0, 0, 0);
  color: white;
}

/*opmaak tekstvak, background-color is natuurlijk de achtergrondkleur, de andere instellingen zorgen voor de grote van het tekstvak*/
.tekstvak {
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
  padding: 50px;
  margin: 50px 200px;
}

.tekstvak p{
  margin: top 15px;
}
/* de opmaak van de knoppen*/
.button{
  align-items: center;
  display: inline-block;
  text-decoration: none;
  color: rgb(105, 159, 116);
  /*de rand van de knop is 1px groot ik heb de kleur groen gemaakt, die overal terugkomt*/
  border: 1px solid rgb(105, 159, 116);
  border-radius: 10%;
  padding: 11px 30px;
  font-size: 13px;
  /* Doordat de knop doorzichtig is zie je de witte achtergrond*/
  background: transparent;
  position: relative;
  /*als je met je muis over de knop heen gaat krijg je een 'handje' waardoor je erop kan klikken*/
  cursor: pointer;
 }
 
  /*ik ga nu de opmaak maken van de knop als je 'handje' erop staat*/
  .button:hover{
    /*er treedt een kleurverandering van groen naar zwart*/
    border: 1px solid rgb(black);
    /*de achtergrond wordt nu zwart*/
    background: black;
    /* de kleur overgang doet een halve seconde over*/
    transition: 0.5s;
 }


 
